@use '/@/styles/var';
@use '/@/styles/app';
@use '/@/styles/element/input';

.info-car-box {
	background-color: #fff;
	padding: 8px;
	width: 160px;
	min-height: 66px;
	color: #4d4d4d;
	font-size: 12px;
	border-radius: 4px;
	&:after {
		content: '';
		position: absolute;
		left: 50%;
		bottom: -4px;
		margin: 0 0 0 -7px;
		width: 14px;
		height: 14px;
		background-color: #fff;
		transform: rotate(45deg);
	}
	p {
		padding: 0 0 0 20px;
		position: relative;
		line-height: 18px;
		margin-bottom: 5px;
	}
	.speed-p {
		height: 21px;
		line-height: 21px;
		padding: 5px 0 5px 46px;
		font-weight: 600;
	}
	.speed-p .speed-span {
		font-size: 21px;
	}
}
