.el-input__wrapper,
.el-textarea__inner {
	width: 100% !important;
	background-color: rgb(247, 248, 253) !important;
	box-shadow: none !important;
	&.is-focus {
		box-shadow: 0 0 0 1px var(--el-input-focus-border-color) !important;
	}
	&:focus {
		box-shadow: 0 0 0 1px var(--el-input-focus-border-color) !important;
	}
	&:hover {
		box-shadow: 0 0 0 1px var(--el-input-focus-border-color) !important;
	}
}

.no-focus-border {
	.el-input__wrapper {
		background-color: rgb(247, 248, 253) !important;
		box-shadow: none !important;
		&.is-focus {
			box-shadow: 0;
		}
		&:hover {
			box-shadow: 0;
		}
	}
}
